# Ignore node_modules and logs
node_modules
npm-debug.log
yarn-error.log

# Ignore environment files
.env
.env.local
.env.test
.env.production

# Ignore build output
/build
/dist

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore system files
.DS_Store
Thumbs.db

# Ignore git files
.git
.gitignore

